@charset "UTF-8";

html{
    font-size: 100%;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    margin: 0;
}
/* ヘッダー */
.big-bg{
    background-image: url(img/mainvisual.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.hero-title-sec{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-title{
    text-align: center;
    width: 100%;
    color: #ffffff;
}
.hero-title img{
    filter: drop-shadow(1px 1px 10px #c0c0c0);
}
.global-menu{
    padding-top: 20px;
}
.global-menu-list{
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 0.8rem;
}
.global-menu-list li a{
    color: #ffffff;
    padding-right: 30px;
    transition: all  0.3s ease;
    filter: drop-shadow(1px 1px 10px #c0c0c0);
}
.global-menu-list li a:hover{
    color: #E03131;
}

/* セクションタイトル設定 */
.sec-title-bg{
    height: 300px;
    position: relative;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-title{
    color: #ffffff;
    font-size: 4.5rem;
    filter: drop-shadow(1px 1px 10px #c0c0c0);
}


/* メニュー */
#menu{
    margin-top: 20px;
    margin-bottom: 180px;
}
#menu .sec-title-bg{
    background-image: url(img/menu.jpg);
}
.all-menu{
    padding-top: 90px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.menu-list{
    width:100%;
    display: flex;
    flex-flow: wrap;
    font-size: 0.9rem;
}
.menu-list dd{
    margin: 0;
    width: 15%;
    text-align: end;
    padding-top: 15px;
}
.menu-list dt{
    padding-bottom: 5px;
    width: 85%;
    text-align: start;
    border-bottom:1px dotted #000;
    margin-bottom: 25px;
}
.right-menu, .left-menu{
    width:50%;
    padding: 0 45px;
    text-align: center;
}
.right-menu{
    border-left: 1px solid #000;
}
.small-sec-title{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 2.5rem;
    border-bottom: 6px solid #E03131;
    margin-bottom: 70px;
}

/* about */
#about .sec-title-bg{
    background-image: url(img/about.jpg);
}
#about{
    margin-bottom: 180px;
}
.about-text-wrap{
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 50px;
}
.about-text{
    font-size: 0.95rem;
    line-height: 2.0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-text p{
    padding: 20px;
    width: calc(calc(100% - 20px) / 2.2);
    text-align: start;
}
.read-more{
    font-size: 0.9rem;
    margin-top: 20px;
    text-align: center;
}
.read-more a{
    color: #000;
    position: relative;
    display: inline-block;
    padding: 16px 45px;
    transition: color 0.3s ease;
    border: none;
}
.read-more a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    border-top: 2px solid #E03131;
    border-left: 2px solid #E03131;
    transition: all 0.4s ease;
}
.read-more a:hover::before{
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-top: 2px solid #E03131;
    border-left: 2px solid #E03131;
}
.read-more a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 20px;
    border-bottom: 2px solid #E03131;
    border-right: 2px solid #E03131;
    transition: all 0.4s ease;
}
.read-more a:hover::after{
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-bottom: 2px solid #E03131;
    border-right: 2px solid #E03131;
}


/* locationセクション */
#location .sec-title-bg{
    background-image: url(img/location.jpg);
}
.location-small-sec-title{
    text-align: center;
    margin-top: 50px;
}
.googlemap{
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    text-align: center;
}
.googlemap iframe{
    top: 0;
    left: 0;
    width: 90%;
    height: 60%;
}
.address{
    margin: 0 auto;
    width: 90%;
    text-align: start;
}
.address ul{
    padding: 0;
}
.address ul li{
    padding-bottom: 10px;
}


/* footer */
footer{
    text-align: center;
}
footer p{
    font-size: small;
}


/* SP */
@media screen and (max-width:485px){
    .hero-title img{
        width: 80%;
    }
    .all-menu{
        display: block;
    }
    .right-menu, .left-menu{
        width:100%;
        padding: 0 10px;
        text-align: center;
        box-sizing: border-box;
    }
    .right-menu{
        border: 0;
    }
    #menu{
        margin-bottom: 90px;
    }
    .small-sec-title{
        margin-bottom: 40px;
    }
    .about-text p{
        padding: 0 10px;
        width: calc(100% - 20px);
        text-align: start;
        margin-top:0;
        margin-bottom: 10px;
    }
    #about{
        margin-bottom: 90px;
    }

}